:global(.ant-card-meta-title) {
  white-space: normal !important;
  display: flex;
  align-items: center;
  min-height: calc(1.3em * 2);
}

.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  line-height: 1.3;
}

.link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.image {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 2 / 3;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}
