.infoBlock {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}

.description {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.meta {
  display: flex;
  gap: 20px;
  font-weight: 600;
  align-items: center;
  flex-wrap: wrap;
}

.genres {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.genres p {
  margin: 30px 0 10px 0;
  font-weight: 600;
}

.divider {
  display: flex;
  gap: 10px;
}

.rating {
  margin: 0;
  border: 0;
  border-radius: 12px;
  padding: 4px 10px;
}

.poster {
  border-radius: 16px;
  overflow: hidden;
  flex: 0 0 300px;
}

.poster img {
  display: block;
  width: 100%;
  height: auto;
}
