.footer {
  padding: 0;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 16px;
  width: 100%;
}

.text {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 14px;
}
