.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  text-align: center;
}


.container h1 {
  font-size: 84px;
  margin: 0;
}

.container p {
  margin: 0;
  opacity: 0.7;
}

.container a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}
